/* nav-bar */
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    margin-top: auto;
  }

.html{
    font-size: 62.5%;
}


.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 120pxx;
    width: 100%;
    margin-top: auto;
    
    
}
.navbar{
    box-shadow: 0px 5px 10px 0px;
    width: 100%;
    opacity: 0.85;
    z-index: 100;
   
} 

navbar-container{
    display:flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black 
    
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}
/* nav media */
@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

/* nav media end     */
/.navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px; 
    } 

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 20px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
     width: 100%;
    background: #fff;
    color: #000;
    /* opacity: 0.85; */
    /* z-index: 100; */
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: grey;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: green;
}

@media (max-width: 768px){
    /* .navbar{
        opacity: 0.95; 
    }*/ 

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

/* body css */

.site-wrap {
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
}

  .push-wrap { 
  -webkit-transition: all 300ms ease 0;
  -moz-transition: all 300ms ease 0;
  -o-transition: all 300ms ease 0;
  transition: all 300ms ease 0;
  
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.push-wrap {
  -webkit-transform: translate(275px, 0);
  -moz-transform: translate(275px, 0);
  -ms-transform: translate(275px, 0);
  -o-transform: translate(275px, 0);
  transform: translate(275px, 0);
  
  -webkit-transform: translate3d(275px, 0, 0);
  -moz-transform: translate3d(275px, 0, 0);
  -ms-transform: translate3d(275px, 0, 0);
  -o-transform: translate3d(275px, 0, 0);
  transform: translate3d(275px, 0, 0);
} */
article {
  position:absolute;
  /* min-height: auto; */
  background: #e3e3e3;
  z-index: 9;
  width: 100%;
  
  
}
article h1 {
  text-align: center;
  margin: 40px 0 30px;
}
article p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}

/* body css end */

*, ::after, ::before {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    line-height: 1.5;
    padding: 0;
    
    
  }
/* .img{
  background-size: cover;
  background-repeat: no-repeat;
  widows: 200px;
  height: 100vh;
   */

}
  background{
    text-align: center;
  
    
  }
  
  .container {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
  }
  
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-white {
    color: #fff;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-4 {
        margin: 0;
    margin-top: 1.5rem;
  }


  body {
    font-family: sans-serif;
    text-align: center;
    padding: 3rem;
    font-size: 1.125rem;
    line-height: 1.5;
    transition: all 725ms ease-in-out;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1rem;
    color:grey;
    text-align: justify;
    font-size: medium;
  }
  
   
 
  /* begin footer */
  .bg-footer {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    position:relative;
    width: 100%;
    bottom: 0;
  }
  
  .footer-heading {
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
  }
  
  .footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    list-style: none;
  
    a {
      color: #acacac;
      line-height: 40px;
      font-size: 16px;
      transition: all 0.2s;
      text-underline-offset: 4px;
      text-decoration-thickness: 2px;
  
      &:hover {
        color: #E0952E;
      }
    }
  }
  
  .list-inline {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .list-inline-item 
    :not(:last-child){
      margin-right: 0.5rem;
  
    display: inline-block;
  }
  
  .contact-info {
    color: #acacac;
    font-size: 16px;
  }
  
  .footer-social-icon {
    font-size: 15px;

    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
  }
  
  .facebook {
    transition: transform 1s ease 0s;
    background-color: #4e71a8;
    color: #ffffff;
  }
  
  .twitter {
    transition: transform 1s ease 0s;
    background-color: #55acee;
    color: #ffffff;
  }
  
  .instagram {
    transition: transform 1s ease 0s;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #ffffff;
  }
  
  /* HOVER */
  
  .facebook:hover, .twitter:hover, .instagram:hover {
    transform: rotate(360deg);
  }
  
  .footer-alt {
    color: #acacac;
  }
  
  .footer-heading {
    position: relative;
    padding-bottom: 12px;
  
    &:after {
      content: '';
      width: 25px;
      border-bottom: 1px solid #FFF;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      display: block;
      border-bottom: 3px solid #E0952E;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
      
    }
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
      width: 100%;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto;
    }
    
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  /* end footer */